<!-- End of the page-specific content. --></div>
	
	<div id="footer">
		<p>Copyright &copy; <a href="#">Hotel Admin</a> 2018 | Designed by <a href="#">Piseth</a> | Sponsored by <a href="http://www.opendesigns.org/">Open Designs</a> | Valid <a href="http://jigsaw.w3.org/css-validator/">CSS</a> &amp; <a href="http://validator.w3.org/">XHTML</a></p>
	</div>
</body>
</html>